body {
    background-image: url(../../img/background-img/background.png);
    background-size: 300% 300%;
    height: 100vh;
    animation: gradiente 100s ease alternate infinite;
    
  }
  
  @keyframes gradiente {
    from {
      background-position: 0 50%;
    }
  
    to {
      background-position: 100% 50%;
    }
  }