/* Botões */
.botao {
  border: 1px solid whitesmoke;
  padding: 12px 24px;
  border-radius: 4px;
  width: 48%;
  text-transform: uppercase;
  font-size: 20px !important;
  text-transform: uppercase;
  transition: 0.4s;
}
.botao:hover {
  transform: scale(0.97);
}
.botao-amarelo {
  background: #35F22E;
}
.botao-amarelo:hover {
  background: #38dc32;
}
.botao-preto {
  background: #121212;
  color: #fff;
}
.botao-preto:hover {
  background: #ffffff;
  color: #000 !important;
  border: 1px solid #000;
}

