/* Header */
.header {
  background-color: #5FED7D;
  display: flex;
  height: 96px;
  justify-content: space-around;
  align-items: center;
}

.logo,
.menu,
.login {
  display: flex;
  align-items: center;
}

.menu,
.login {
  gap: 30px;
}

.logo {
  gap: 16px;
  margin-right: 100px;
}

.logo span {
  text-transform: uppercase;
  font-size: 44px;
}
