.cad-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 80vh;
    padding: 50px;
    margin: 0 30px;
}

.cad-formulario {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cad-nome,
.cad-sobrenome,
.cad-senha,
.cad-cpf,
.cad-email,
.confirma-senha,
.cad-cep,
.cad-numero,
.cad-logradouro,
.cad-complemento,
.cad-bairro,
.cad-cidade,
.cad-estado {
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: #35F22E;
}

.dados-pessoais,
.dados-residenciais {
    display: flex;
    flex-direction: column;
}

.nome-completo,
.senha-confirma,
.cep-numero,
.cidade-estado,
.complemento-bairro {
    display: flex;
    justify-content: space-between;
}

.cad-span,
.termo {
    padding: 10px;
    color: bisque;
}

.cad-span a {
    text-decoration: underline;
}

input {
    padding: 12px;
}

input:focus {
    outline: 2px solid #35F22E;
}

.cad-botao {
    background-color: #35F22E;
}