@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto+Flex:wght@400;700&display=swap");


body {
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
  background-image: url(../utils/images/background.jpg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-texto);
}

.container-home {
  font-family: "Play", sans-serif;
  margin: 100px;
  display: flex;
}

.homem-com-caixa-home {
  height: 31rem;
}

.textos-home > h1 {
  font-family: "Play", sans-serif;
  color: #35f22e;
  font-size: 4rem;
}
.textos-home > p {
  color: white;
  font-family: "Roboto Flex", sans-serif;
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
}
.textos-home {
  padding: 40px 0px 0px 50px;
}


.nav-home {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #35f22e;
  height: 80px;
}

.menu-header{
    text-decoration: none;
    color: var(--cor-paragrafo);
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 2rem;
  }


  
.rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 90px;
  background-color: #35f22e;
}

.rodape > p {
  font-family: "Play", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
}

