.box-form {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 460px;
}

.email,
.senha {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.entrada-dados input {
  padding: 8px;
}

.entrada-dados .email {
  margin-bottom: 1.5rem;
}

.botoes {
  display: flex;
  justify-content: space-between;
}

.botoes button {
  background: var(--cor-b);
  color: var(--cor-w);
  border: 1px solid whitesmoke;
  padding: 12px 24px;
  border-radius: 4px;
  width: 48%;
}

.form a {
  width: 100%;
  display: inline-block;
  font-size: 0.7rem;
  text-decoration: underline;
  margin-bottom: 40px;
  text-align: end;
}