.box-form {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 20px;
  justify-content: center;
}
.box-form h1 {
  text-transform: uppercase;
  font-size: 48px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 460px;
}
.email,
.senha {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.entrada-dados input {
  padding: 8px;
}
.entrada-dados .email {
  margin-bottom: 1.5rem;
}
.btn-login {
  font-size: 24px !important;
  width: 100%;
}
.form a {
  width: 100%;
  display: inline-block;
  font-size: 0.7rem;
  text-decoration: underline;
  margin-bottom: 40px;
  text-align: end;
}