
.content-pag-inicial {
  display: flex;
  margin: 100px;
}
.textos-pag-inicial {
  width: 60%;
  height: fit-content;
}

.textos-pag-inicial > h1 {
  color: #35f22e;
  font-size: 80px;
  font-weight: 300;
  font-family: "Play", sans-serif;
}

.textos-pag-inicial > p  {
  color: #ffffff;
  font-family: "Roboto Flex", sans-serif;
  font-size: 40px;
  letter-spacing: 1.5px;
}


.produtos-pag-inicial {
  width: 496px;
}

.container-logos {
  display: flex;
  opacity: 0.3;
  background-color: #ffffff;
  border-radius: 6rem;
  padding: 35px 55px 35px 55px;
  justify-content: space-between;
  margin: 100px;
}
.logos-pag-inicial {
  height: 55px;
}
