.termos-uso {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titulo-termos h1 {
  font-size: 48px;
  text-transform: uppercase;
  color: #35F22E;
  margin-bottom: 20px;
}
.termo h2{
  margin-bottom: 16px;
}
.termo h3{
  margin-bottom: 8px;
}
.titulo-termos span {
  color: #fff;
}
.termos-conteudo {
  display: flex;
  flex-direction: column;
}
.termos-conteudo h2 {
  font-size: 24px;
  color: #35F22E;
}
.termos-conteudo p {
  font-size: 18px;
  padding-left: 29px;
  margin-bottom: 16px;

}