*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;
  color: var(--cor-w);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input,
textarea,
button {
  font-family: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 84vh;
}
input {
  padding: 6px 12px;
  accent-color: #35f22e;
}
input:focus {
  outline: 2px solid #35f22e;
}